In [1]:
from Housing.src.config.configuration import HousingConfiguration
from Housing.src.components.data_ingestion import DataIngestion
obj = HousingConfiguration()
data_ingestion_config = obj.get_data_ingestion_config()

data_ingestion = DataIngestion(data_ingestion_config=data_ingestion_config)
data_ingestion.initiate_data_ingestion()

DataIngestionArtifact(train_file_path='d:\\Data Science\\MachineLearning\\Project\\MachineLearningProject1\\artifact\\data_ingestion\\2024-03-15-21-57-27\\ingested_data\\train\\train_datahousing.csv', test_file_path='d:\\Data Science\\MachineLearning\\Project\\MachineLearningProject1\\artifact\\data_ingestion\\2024-03-15-21-57-27\\ingested_data\\test\\test_datahousing.csv', is_ingested=True, message='Data Ingestion is completed successfully')

In [5]:
name = 'Pramod'
surname = 'khavare'

abc= name+"ABC" 
print(abc)

PramodABC

In [2]:
import pandas as pd
df =pd.read_csv('d:\Data Science\MachineLearning\Project\MachineLearningProject1\\artifact\\data_ingestion\\2024-03-15-21-24-37\\raw_data\\housing.csv')

In [3]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [3]:
import os 
os.makedirs('d:\\Data Science\\MachineLearning\\Project\MachineLearningProject1\\artifact\\data_ingestion\\2024-03-15-21-24-37\\ingested_data\\train', exist_ok=True)

In [4]:
os.makedirs('d:\Data Science\MachineLearning\Project\MachineLearningProject1\\artifact\\data_ingestion\\2024-03-15-21-45-30\\ingested_data\\test\\housing.csv')

In [4]:
import os 
print(os.getcwd())

os.listdir('D:\Data Science\MachineLearning\Project\MachineLearningProject1\Housing\src\components')[0]

d:\Data Science\MachineLearning\Project\MachineLearningProject1

'data_ingestion.py'

In [11]:
import pandas as pd 
data = pd.read_csv('D:\Data Science\MachineLearning\Project\MachineLearningProject1\\artifact\data_ingestion\\2024-03-15-13-21-24\\raw_data\\housing.csv')

In [78]:
data.loc[0:2910 ]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,income_cat
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,5
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,5
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,5
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,4
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,3
...,...,...,...,...,...,...,...,...,...,...,...
2906,-119.03,35.38,52.0,1695.0,290.0,540.0,260.0,2.7312,147100.0,INLAND,2
2907,-119.03,35.37,52.0,1503.0,367.0,554.0,277.0,1.6786,126600.0,INLAND,2
2908,-119.04,35.37,44.0,1618.0,310.0,667.0,300.0,2.8750,82700.0,INLAND,2
2909,-119.03,35.39,28.0,4513.0,764.0,1593.0,763.0,2.9821,118700.0,INLAND,2
2910,-119.04,35.36,36.0,1942.0,414.0,1051.0,411.0,1.8362,66900.0,INLAND,2

In [64]:
data['income_cat'] = pd.cut(
                data['median_income'] ,
                bins =[0.0 ,1.5 ,3 ,4.5 ,6 ,np.inf] ,
                labels= [1,2,3,4,5]
            )

In [66]:
from sklearn.model_selection import StratifiedShuffleSplit 
split = StratifiedShuffleSplit(n_splits=1 ,test_size= 0.2 ,random_state=42)

In [87]:
count =0
for train_index ,test_index in split.split(data ,data['income_cat']):
                start_train_test = data.loc[train_index].drop(['income_cat'] ,axis=1)
                count+=1
                print(train_index)
                print(count)
print(len(train_index))

[12655 15502  2908 ... 19263 19140 19773]
1
16512

In [88]:
start_train_test

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
12655,-121.46,38.52,29.0,3873.0,797.0,2237.0,706.0,2.1736,72100.0,INLAND
15502,-117.23,33.09,7.0,5320.0,855.0,2015.0,768.0,6.3373,279600.0,NEAR OCEAN
2908,-119.04,35.37,44.0,1618.0,310.0,667.0,300.0,2.8750,82700.0,INLAND
14053,-117.13,32.75,24.0,1877.0,519.0,898.0,483.0,2.2264,112500.0,NEAR OCEAN
20496,-118.70,34.28,27.0,3536.0,646.0,1837.0,580.0,4.4964,238300.0,<1H OCEAN
...,...,...,...,...,...,...,...,...,...,...
15174,-117.07,33.03,14.0,6665.0,1231.0,2026.0,1001.0,5.0900,268500.0,<1H OCEAN
12661,-121.42,38.51,15.0,7901.0,1422.0,4769.0,1418.0,2.8139,90400.0,INLAND
19263,-122.72,38.44,48.0,707.0,166.0,458.0,172.0,3.1797,140400.0,<1H OCEAN
19140,-122.70,38.31,14.0,3155.0,580.0,1208.0,501.0,4.1964,258100.0,<1H OCEAN
19773,-122.14,39.97,27.0,1079.0,222.0,625.0,197.0,3.1319,62700.0,INLAND

In [15]:
import pandas as pd
import numpy as np
pd.cut(
    data['median_income'] ,
    bins =[0.0 ,1.5 ,3 ,4.5 ,6 ,np.inf] ,
    labels = [1 ,2 ,3, 4, 5]
)

0        5
1        5
2        5
3        4
4        3
        ..
20635    2
20636    2
20637    2
20638    2
20639    2
Name: median_income, Length: 20640, dtype: category
Categories (5, int64): [1 < 2 < 3 < 4 < 5]

In [18]:
abc = {
    'Id' : [1 ,2 ,3 , 4,5 ,6],
    'Marks1' :[10,20,14,20,16,18],
    'Marks2' : [12,17,19,12,14 ,16]
}

In [21]:
df = pd.DataFrame(abc)
df

   Id  Marks1  Marks2
0   1      10      12
1   2      20      17
2   3      14      19
3   4      20      12
4   5      16      14
5   6      18      16

In [43]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedShuffleSplit

In [53]:
train1 ,test1 = train_test_split(df,test_size=0.2,random_state=12)
df

   Id  Marks1  Marks2
0   1      10      12
1   2      20      17
2   3      14      19
3   4      20      12
4   5      16      14
5   6      18      16

In [55]:
X= df.drop(columns=['Id'],axis=0)
y =df[['Id']]

In [84]:
split = StratifiedShuffleSplit(n_splits=1 ,test_size=0.2 ,random_state=42)
split.split(X ,y)
for train_index ,test_index in split.split(X ,y.iloc[:,1]):
                print(train_index)

IndexError: single positional indexer is out-of-bounds

In [38]:
abc= [1 ,2 ,3 ,4 ,5 ,6 ,7 ,8]
train,test =train_test_split(abc ,test_size=0.2 ,random_state=2
                             )

In [40]:
abc= ['A.jpg' ,'B.jpg' ,'C.jpg' ,'D.jpg' ,'E.jpg']

In [41]:
train,test =train_test_split(abc ,test_size=0.2 ,random_state=2
                             )

In [42]:
train

['E.jpg', 'B.jpg', 'D.jpg', 'A.jpg']