In [1]:
name = 'Pramod'
surname = 'khavare'

abc= name+"ABC" 
print(abc)

PramodABC

In [1]:
import pandas as pd
df =pd.read_csv('D:\Data Science\MachineLearning\Project\MachineLearningProject1\\artifact\data_ingestion\\2024-03-23-19-59-41\\ingested_data\\test\\test_data_housing.csv')

In [47]:
data_types = list(map(lambda x : str(x).replace("dtype('" ,""),df.dtypes.values))
data_types

['float64',
 'float64',
 'float64',
 'float64',
 'float64',
 'float64',
 'float64',
 'float64',
 'float64',
 'object']

In [49]:
dict(zip(columns ,data_types))

{'longitude': 'float64',
 'latitude': 'float64',
 'housing_median_age': 'float64',
 'total_rooms': 'float64',
 'total_bedrooms': 'float64',
 'population': 'float64',
 'households': 'float64',
 'median_income': 'float64',
 'median_house_value': 'float64',
 'ocean_proximity': 'object'}

In [2]:
import pandas as pd
data_ =pd.read_csv('D:\Data Science\MachineLearning\Project\MachineLearningProject1\\artifact\data_ingestion\\2024-03-22-13-06-46\\raw_data\housing.csv')
data_

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [11]:
name = False
surname = True 
if  name ==False :
    print('Pramod')

if not name:
    print("I love you")

Pramod
I love you

In [15]:
empty_list = []
if not empty_list:
    print('List is not empty')
if empty_list == False:
    print('List is False')

List is not empty

In [5]:
dfa = pd.DataFrame({'A':[1,2,3,4] , 'B':[1,4,9,16]})

In [6]:
dfa

   A   B
0  1   1
1  2   4
2  3   9
3  4  16

In [2]:
import pandas as pd
df =pd.read_csv('D:\Data Science\MachineLearning\Project\MachineLearningProject1\\artifact\data_ingestion\\2024-03-23-19-59-41\\ingested_data\\test\\test_data_housing.csv')

In [3]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-118.39,34.12,29.0,6447.0,1012.0,2184.0,960.0,8.2816,500001.0,<1H OCEAN
1,-120.42,34.89,24.0,2020.0,307.0,855.0,283.0,5.0099,162500.0,<1H OCEAN
2,-118.45,34.25,36.0,1453.0,270.0,808.0,275.0,4.3839,204600.0,<1H OCEAN
3,-118.10,33.91,35.0,1653.0,325.0,1072.0,301.0,3.2708,159700.0,<1H OCEAN
4,-117.07,32.77,38.0,3779.0,614.0,1495.0,614.0,4.3529,184000.0,NEAR OCEAN

In [5]:
list(df.columns)

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value',
 'ocean_proximity']

In [1]:
list1 = ["A" , "B" ,"C" ,"D" ,"E"]
list2 = ["A" , "B" ,"C" ,"D" ,"F"]

In [12]:
def compare_lists(list1, list2):
    set1 = set(list1)
    set2 = set(list2)
    return bool(set1.intersection(set2))

In [13]:
compare_lists(list1, list2)

True

In [19]:
list1 = ["A" , "B" ,"C" ,"D" ,"E"]
list2 = ["A" , "B" ,"C" ,"D" ]

In [20]:
def compare_lists1(list1, list2):
    for item1 in list1:
        for item2 in list2:
            if item1 == item2:
                return True
    return False

compare_lists1(list1, list2)

True

False

True

In [30]:
list1 = [1,2,3]
list2 = [1,2,3]
# compare_lists1(list1, list2)

In [27]:
def check_lists_match(list1, list2):
    # Check if the lengths of the lists are different
    if len(list1) != len(list2):
        return False
    
    # Compare each element of the lists
    for i in range(len(list1)):
        if list1[i] != list2[i]:
            return False  # If any element doesn't match, return False
    
    return True

In [31]:
check_lists_match(list1=list1 ,list2=list2)

True