In [1]:
name = 'Pramod'
surname = 'khavare'

abc= name+"ABC" 
print(abc)

PramodABC

In [1]:
import pandas as pd
df =pd.read_csv('D:\Data Science\MachineLearning\Project\MachineLearningProject1\\artifact\data_ingestion\\2024-03-23-19-59-41\\ingested_data\\test\\test_data_housing.csv')

In [47]:
data_types = list(map(lambda x : str(x).replace("dtype('" ,""),df.dtypes.values))
data_types

['float64',
 'float64',
 'float64',
 'float64',
 'float64',
 'float64',
 'float64',
 'float64',
 'float64',
 'object']

In [49]:
dict(zip(columns ,data_types))

{'longitude': 'float64',
 'latitude': 'float64',
 'housing_median_age': 'float64',
 'total_rooms': 'float64',
 'total_bedrooms': 'float64',
 'population': 'float64',
 'households': 'float64',
 'median_income': 'float64',
 'median_house_value': 'float64',
 'ocean_proximity': 'object'}

In [2]:
import pandas as pd
data_ =pd.read_csv('D:\Data Science\MachineLearning\Project\MachineLearningProject1\\artifact\data_ingestion\\2024-03-22-13-06-46\\raw_data\housing.csv')
data_

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [11]:
name = False
surname = True 
if  name ==False :
    print('Pramod')

if not name:
    print("I love you")

Pramod
I love you

In [15]:
empty_list = []
if not empty_list:
    print('List is not empty')
if empty_list == False:
    print('List is False')

List is not empty

In [5]:
dfa = pd.DataFrame({'A':[1,2,3,4] , 'B':[1,4,9,16]})

In [6]:
dfa

   A   B
0  1   1
1  2   4
2  3   9
3  4  16

In [2]:
import pandas as pd
df =pd.read_csv('D:\Data Science\MachineLearning\Project\MachineLearningProject1\\artifact\data_ingestion\\2024-03-23-19-59-41\\ingested_data\\test\\test_data_housing.csv')

In [3]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-118.39,34.12,29.0,6447.0,1012.0,2184.0,960.0,8.2816,500001.0,<1H OCEAN
1,-120.42,34.89,24.0,2020.0,307.0,855.0,283.0,5.0099,162500.0,<1H OCEAN
2,-118.45,34.25,36.0,1453.0,270.0,808.0,275.0,4.3839,204600.0,<1H OCEAN
3,-118.10,33.91,35.0,1653.0,325.0,1072.0,301.0,3.2708,159700.0,<1H OCEAN
4,-117.07,32.77,38.0,3779.0,614.0,1495.0,614.0,4.3529,184000.0,NEAR OCEAN

In [5]:
list(df.columns)

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value',
 'ocean_proximity']

In [1]:
list1 = ["A" , "B" ,"C" ,"D" ,"E"]
list2 = ["A" , "B" ,"C" ,"D" ,"F"]

In [12]:
def compare_lists(list1, list2):
    set1 = set(list1)
    set2 = set(list2)
    return bool(set1.intersection(set2))

In [13]:
compare_lists(list1, list2)

True

In [19]:
list1 = ["A" , "B" ,"C" ,"D" ,"E"]
list2 = ["A" , "B" ,"C" ,"D" ]

In [20]:
def compare_lists1(list1, list2):
    for item1 in list1:
        for item2 in list2:
            if item1 == item2:
                return True
    return False

compare_lists1(list1, list2)

True

False

True

In [30]:
list1 = [1,2,3]
list2 = [1,2,3]
# compare_lists1(list1, list2)

In [27]:
def check_lists_match(list1, list2):
    # Check if the lengths of the lists are different
    if len(list1) != len(list2):
        return False
    
    # Compare each element of the lists
    for i in range(len(list1)):
        if list1[i] != list2[i]:
            return False  # If any element doesn't match, return False
    
    return True

In [9]:
import pandas as pd
import numpy as np

In [94]:
train_file_path = "D:\Data Science\MachineLearning\Project\MachineLearningProject1\\artifact\\data_ingestion\\2024-03-24-15-30-21\\ingested_data\\train\\train_data_housing.csv"
test_file_path =  "D:\Data Science\MachineLearning\Project\MachineLearningProject1\\artifact\\data_ingestion\\2024-03-24-15-30-21\\ingested_data\\test\\test_data_housing.csv"

In [95]:
train_data = pd.read_csv(train_file_path)
test_data = pd.read_csv(test_file_path)
target_column ='median_house_value'

In [97]:
X ,y = train_data.drop(columns=[target_column]) ,train_data[[target_column]]

In [98]:
from sklearn.base import BaseEstimator,TransformerMixin
from Housing.src.exception import HousingException
import os,sys

In [115]:
COLUMN_TOTAL_ROOMS = 'total_rooms' 
COLUMN_POPULATION = 'population'
COLUMN_TOTAL_BEDROOMS = 'total_bedrooms'
COLUMN_HOUSEHOLDS = 'households' 


class FeatureGenerator(BaseEstimator ,TransformerMixin):
    def __init__(self ,add_bedroom_per_romm =True ,
                 total_room_ix = 3,
                 population_ix = 5 ,
                 households_ix = 6 ,
                 total_bedroom_ix = 4 ,
                 columns =None):
        """
        total_room_ix,population_ix ,households_ix ,total_bedroom_ix are id of these column inside dataset
        """ 

        try:
            
            self.columns = columns 
            if self.columns is not None:
                total_room_ix =self.columns.index(COLUMN_TOTAL_ROOMS)
                population_ix = self.columns.index(COLUMN_POPULATION)
                total_bedroom_ix = self.columns.index(COLUMN_TOTAL_BEDROOMS)
                households_ix = self.columns.index(COLUMN_HOUSEHOLDS)
            
            self.add_bedroom_per_romm = add_bedroom_per_romm  
            self.total_room_ix = total_room_ix 
            self.population_ix =population_ix 
            self.households_ix =households_ix 
            self.total_bedroom_ix = total_bedroom_ix

        except Exception as e:
            raise HousingException(e,sys) from e
        
    def fit(self ,X,y=None):
        return self  
    


    def transform(self ,X ,y=None):
        try:
            room_per_households = X[: ,self.total_room_ix] / X[: ,self.total_bedroom_ix]
            population_per_households = X[: ,self.population_ix] / X[: ,self.households_ix]
            bedroom_per_room = X[: ,self.total_bedroom_ix]/X[: ,self.total_room_ix]
            if self.add_bedroom_per_romm:
                generated_feature = np.c_[
                    X ,room_per_households , population_per_households,bedroom_per_room
                ]
            else:
                generated_feature = np.c_[X,room_per_households ,population_per_households]
            
            return generated_feature
        
        except Exception as e:
            raise HousingException(e,sys) from e

In [116]:
from sklearn.pipeline import Pipeline 
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler 
from sklearn.preprocessing import OneHotEncoder
from sklearn.base import BaseEstimator,TransformerMixin
from Housing.src.exception import HousingException
import os,sys
from sklearn.impute import SimpleImputer

In [138]:
num_pipeline = Pipeline(
    steps=[
        ('impute' ,SimpleImputer(strategy='median')) ,
        ('feature_generator' ,FeatureGenerator()) ,
        ('scalar' ,StandardScaler())
    ]
)
cat_pipeline = Pipeline(
    steps=[
        ('impute' ,SimpleImputer(strategy='most_frequent')) ,
        ('encode' ,OneHotEncoder()) ,
        ('scalar' ,StandardScaler(with_mean=False))
    ]
)

In [191]:
num_data = train_data.select_dtypes(exclude='object')

In [141]:
abc= StandardScaler(with_mean=False)
abc.fit_transform(num_data)
abc.m

array([[-60.67637885,  18.01769717,   2.30626612, ...,   1.87923503,
          1.14107355,   0.62317524],
       [-58.56324628,  15.4778193 ,   0.55668493, ...,   2.04426701,
          3.32688875,   2.41664073],
       [-59.46744721,  16.54428736,   3.4991624 , ...,   0.7985418 ,
          1.5092871 ,   0.71479323],
       ...,
       [-61.3058226 ,  17.98027724,   3.81726807, ...,   0.45783063,
          1.66924529,   1.21350629],
       [-61.29583143,  17.91946985,   1.11336985, ...,   1.33356481,
          2.2029817 ,   2.23081177],
       [-61.01607865,  18.69593344,   2.14721329, ...,   0.52437578,
          1.64415175,   0.54192909]])

In [123]:
num_column = X.select_dtypes(exclude= 'object').columns
cat_column = X.select_dtypes(include= 'object').columns

In [124]:
preprocessor = ColumnTransformer([
    ('num_pipeline' , num_pipeline ,num_column) ,
    ('cat_pipeline' ,cat_pipeline ,cat_column)
])

In [125]:
preprocessor.fit_transform(train_data)

array([[-0.94135046,  1.34743822,  0.02756357, ...,  0.        ,
         0.        ,  0.        ],
       [ 1.17178212, -1.19243966, -1.72201763, ...,  0.        ,
         0.        ,  2.9869105 ],
       [ 0.26758118, -0.1259716 ,  1.22045984, ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [-1.5707942 ,  1.31001828,  1.53856552, ...,  0.        ,
         0.        ,  0.        ],
       [-1.56080303,  1.2492109 , -1.1653327 , ...,  0.        ,
         0.        ,  0.        ],
       [-1.28105026,  2.02567448, -0.13148926, ...,  0.        ,
         0.        ,  0.        ]])

In [45]:
train_data.shape

(16512, 10)

In [47]:
X.shape

(16512, 9)

In [80]:
list(num_column).index(COLUMN_HOUSEHOLDS)

6

In [179]:
from Housing.src.utils.utils import read_yaml 
dataset_schema =read_yaml('D:\Data Science\MachineLearning\Project\MachineLearningProject1\config\schema.yaml')

In [180]:
dataset_schema['columns']

{'longitude': 'float64',
 'latitude': 'float64',
 'housing_median_age': 'float64',
 'total_rooms': 'float64',
 'total_bedrooms': 'float64',
 'population': 'float64',
 'households': 'float64',
 'median_income': 'float64',
 'median_house_value': 'float64',
 'ocean_proximity': 'object'}

In [181]:
SCHEMA_FILE_COLUMN_KEY = 'columns'
schema = dataset_schema[SCHEMA_FILE_COLUMN_KEY]

In [184]:
train_data.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [196]:
for column in train_data.columns:
    if column in list(schema.keys()):
        train_data[column].astype(schema[column])

In [195]:
for column in schema.keys():

longitude
latitude
housing_median_age
total_rooms
total_bedrooms
population
households
median_income
median_house_value
ocean_proximity

In [198]:
train2 = pd.read_csv(r"D:\Data Science\MachineLearning\Project\MachineLearningProject1\artifact\data_ingestion\2024-03-15-21-57-27\raw_data\housing.csv")

In [199]:
train2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [4]:
yaml_file_path = r'D:\Data Science\MachineLearning\Project\MachineLearningProject1\config\config.yaml'
yaml_file_path2 =r'D:\Data Science\MachineLearning\Project\MachineLearningProject1\config\config.yaml'

In [5]:
from Housing.src.utils.utils import read_yaml
read_yaml(yaml_file_path=yaml_file_path2)

{'training_pipeline_config': {'pipeline_name': 'housing',
  'artifact_dir': 'artifact'},
 'data_ingestion_config': {'data_ingestion_dir': 'data_ingestion',
  'dataset_download_url': 'https://raw.githubusercontent.com/ageron/handson-ml/master/datasets/housing/housing.tgz',
  'tgz_download_dir': 'tgz_data',
  'raw_data_dir': 'raw_data',
  'ingested_dir': 'ingested_data',
  'ingested_train_dir': 'train',
  'ingested_test_dir': 'test'},
 'data_validation_config': {'data_validation_dir': 'data_validation',
  'schema_dir': 'config',
  'schema_file_name': 'schema.yaml',
  'report_file_name': 'report.json',
  'report_page_file_name': 'report.html'},
 'data_transformation_config': {'add_bedroom_per_room': True,
  'transformed_dir': 'transformed_data_dir',
  'transformed_train_dir': 'train',
  'transformed_test_dir': 'test',
  'preprocessing_dir': 'preprocessed_obj',
  'preprocessing_object_file_name': 'preprocessed.pkl'},
 'model_training_config': {'trained_model_file_name': 'trained_model',
  'model_file_name': 'model.pkl',
  'base_accuracy': 0.6},
 'model_evaluation_config': {'model_evaluation_file_name': 'model_evaluation.yaml'},
 'model_pusher_config': {'export_dir_path': 'saved_models'}}

In [ ]:
for column in train_data.columns:
    if column in list(schema.keys()):
        train_data[column].astype(schema[column])

In [203]:
file = 'D:\Data Science\MachineLearning\Project\MachineLearningProject1\\artifact\data_ingestion\\2024-03-15-21-57-27\ingested_data\\test\\test_datahousing.csv'
os.path.basename(file).replace('.csv' ,'.npz')

'test_datahousing.npz'

In [7]:
from Housing.src.config.configuration import HousingConfiguration 
import os ,sys 
from Housing.src.entity.config_entity import DataTransfrmationConfig  
from Housing.src.entity.artifact_entity import  DataIngestionArtifact ,DataValidationArtifacts ,DataTransformationArtifact
from Housing.src.logger import logging 
from Housing.src.exception import HousingException 
from sklearn.base import BaseEstimator,TransformerMixin
import pandas as pd 
import numpy as np 
from sklearn.preprocessing import StandardScaler ,OneHotEncoder 
from sklearn.pipeline import Pipeline 
from sklearn.compose import ColumnTransformer
from Housing.src.utils.utils import read_yaml ,save_numpy_array  ,save_pickle
from Housing.src.constant import *
from sklearn.impute import SimpleImputer

In [9]:
COLUMN_TOTAL_ROOMS = 'total_rooms' 
COLUMN_POPULATION = 'population'
COLUMN_TOTAL_BEDROOMS = 'total_bedrooms'
COLUMN_HOUSEHOLDS = 'households'

In [50]:
class FeatureGenerator(BaseEstimator, TransformerMixin):

    def __init__(self, add_bedrooms_per_room=True,
                 total_rooms_ix=3,
                 population_ix=5,
                 households_ix=6,
                 total_bedrooms_ix=4, columns=None):
        """
        FeatureGenerator Initialization
        add_bedrooms_per_room: bool
        total_rooms_ix: int index number of total rooms columns
        population_ix: int index number of total population columns
        households_ix: int index number of  households columns
        total_bedrooms_ix: int index number of bedrooms columns
        """
        try:
            self.columns = columns
            if self.columns is not None:
                total_rooms_ix = self.columns.index(COLUMN_TOTAL_ROOMS)
                population_ix = self.columns.index(COLUMN_POPULATION)
                households_ix = self.columns.index(COLUMN_HOUSEHOLDS)
                total_bedrooms_ix = self.columns.index(COLUMN_TOTAL_BEDROOMS)

            self.add_bedrooms_per_room = add_bedrooms_per_room
            self.total_rooms_ix = total_rooms_ix
            self.population_ix = population_ix
            self.households_ix = households_ix
            self.total_bedrooms_ix = total_bedrooms_ix
        except Exception as e:
            raise HousingException(e, sys) from e

    def fit(self, X, y=None):
        return self

    def transform(self, X, y=None):
        try:
            room_per_household = X[:, 3] / \
                                 X[:, 6]
            population_per_household = X[:, 5] / \
                                       X[:, 6]
            if self.add_bedrooms_per_room:
                bedrooms_per_room = X[:, 4] / \
                                    X[:, 3]
                generated_feature = np.c_[
                    X, room_per_household, population_per_household, bedrooms_per_room]
            else:
                generated_feature = np.c_[
                    X, room_per_household, population_per_household]

            return generated_feature
        except Exception as e:
            raise HousingException(e, sys) from e





class DataTransformation:

    def __init__(self, data_transformation_config: DataTransfrmationConfig,
                 data_ingestion_artifact: DataIngestionArtifact,
                 data_validation_artifact: DataValidationArtifacts
                 ):
        try:
            logging.info(f"{'>>' * 30}Data Transformation log started.{'<<' * 30} ")
            self.data_transformation_config= data_transformation_config
            self.data_ingestion_artifact = data_ingestion_artifact
            self.data_validation_artifact = data_validation_artifact

        except Exception as e:
            raise HousingException(e,sys) from e

    

    def get_data_transformer_object(self)->ColumnTransformer:
        try:
            # schema_file_path = self.data_validation_artifact.schema_file_path
            schema_file_path = r'D:\Data Science\MachineLearning\Project\MachineLearningProject1\config\schema.yaml'

            dataset_schema = read_yaml(schema_file_path)
            

            numerical_columns = dataset_schema[SCHEMA_NUMERICAL_COLUMN_KEY]
            print(numerical_columns)
            categorical_columns = dataset_schema[SCHEMA_CATEGORICAL_COLUMN_KEY]


            num_pipeline = Pipeline(steps=[
                ('imputer', SimpleImputer(strategy="median")),
                ('feature_generator', FeatureGenerator(
                    add_bedrooms_per_room=self.data_transformation_config.add_bedroom_per_room,
                    columns=numerical_columns
                )),
                ('scaler', StandardScaler())
            ]
            )

            cat_pipeline = Pipeline(steps=[
                 ('impute', SimpleImputer(strategy="most_frequent")),
                 ('one_hot_encoder', OneHotEncoder()),
                 ('scaler', StandardScaler(with_mean=False))
            ]
            )

            logging.info(f"Categorical columns: {categorical_columns}")
            logging.info(f"Numerical columns: {numerical_columns}")
            dataset = pd.read_csv(r'D:\Data Science\MachineLearning\Project\MachineLearningProject1\artifact\data_ingestion\2024-03-26-10-55-20\ingested_data\test\test_data_housing.csv')

            numerical_column = dataset_schema[SCHEMA_NUMERICAL_COLUMN_KEY].split(" ")
            categorical_column =dataset_schema[SCHEMA_CATEGORICAL_COLUMN_KEY].split(" ")

            # numerical_columns = dataset.select_dtypes(exclude='object').columns
            # categorical_columns =dataset.select_dtypes(include='object').columns

            preprocessing = ColumnTransformer([
                ('num_pipeline', num_pipeline, numerical_column),
                ('cat_pipeline', cat_pipeline, categorical_column),
            ])
            return preprocessing

        except Exception as e:
            raise HousingException(e,sys) from e

In [51]:
dataframe = pd.read_csv(r'D:\Data Science\MachineLearning\Project\MachineLearningProject1\artifact\data_ingestion\2024-03-26-10-55-20\ingested_data\train\train_data_housing.csv')
datatransform =DataTransformation(
    data_transformation_config= DataTransfrmationConfig ,
    data_ingestion_artifact=DataIngestionArtifact ,
    data_validation_artifact= DataValidationArtifacts
)
processor_ =datatransform.get_data_transformer_object()

longitude latitude housing_median_age total_rooms total_bedrooms population households median_income

In [29]:
dataset = pd.read_csv(r'D:\Data Science\MachineLearning\Project\MachineLearningProject1\artifact\data_ingestion\2024-03-26-10-55-20\ingested_data\test\test_data_housing.csv')

In [52]:
processor_.fit_transform(dataset)

array([[ 0.57507019, -0.69657252,  0.0329564 , ...,  0.        ,
         0.        ,  0.        ],
       [-0.43480141, -0.33466769, -0.36298077, ...,  0.        ,
         0.        ,  0.        ],
       [ 0.54522177, -0.63547171,  0.58726843, ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [-0.08656982, -0.54617051,  1.14158047, ...,  0.        ,
         0.        ,  0.        ],
       [ 0.81385757, -0.92687559,  0.11214383, ...,  0.        ,
         0.        ,  0.        ],
       [ 0.49049967, -0.66367208,  0.58726843, ...,  0.        ,
         0.        ,  0.        ]])

In [49]:
schema =r'D:\Data Science\MachineLearning\Project\MachineLearningProject1\config\schema.yaml'
read_yaml(schema)['numerical_column'].split(" ")

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income']

In [67]:
np_path = ('D:\Data Science\\MachineLearning\\Project\\MachineLearningProject1\\artifact\\transformed_data_dir\\2024-03-26-12-24-15\\test\\test_data_housing.npz')

In [73]:
def load_array2(file_path: str) -> np.array:
    """
    load numpy array data from file
    file_path: str location of file to load
    return: np.array data loaded
    """
    try:
        with open(file_path, 'rb') as file_obj:
            return np.load(file_obj)
    except Exception as e:
        raise HousingException(e, sys) from e

In [74]:
load_array2(r'D:\Data Science\MachineLearning\Project\MachineLearningProject1\artifact\transformed_data_dir\2024-03-26-12-24-15\test\test_data_housing.npz')

array([[ 5.92294223e-01, -7.10658034e-01,  2.75635714e-02, ...,
         0.00000000e+00,  0.00000000e+00,  5.00001000e+05],
       [-4.21809589e-01, -3.50491190e-01, -3.70068519e-01, ...,
         0.00000000e+00,  0.00000000e+00,  1.62500000e+05],
       [ 5.62320712e-01, -6.49850644e-01,  5.84248498e-01, ...,
         0.00000000e+00,  0.00000000e+00,  2.04600000e+05],
       ...,
       [-7.21186193e-02, -5.60978306e-01,  1.14093342e+00, ...,
         0.00000000e+00,  0.00000000e+00,  2.93800000e+05],
       [ 8.32082317e-01, -9.39855116e-01,  1.07089989e-01, ...,
         0.00000000e+00,  0.00000000e+00,  3.35700000e+05],
       [ 5.07369274e-01, -6.77915593e-01,  5.84248498e-01, ...,
         0.00000000e+00,  0.00000000e+00,  2.15600000e+05]])

In [7]:
from Housing.src.utils.utils import load_array
# load_array(r'D:\Data Science\MachineLearning\Project\MachineLearningProject1\artifact\transformed_data_dir\2024-03-26-12-24-15\test\test_data_housing.npz')

In [8]:
load_array(r'D:\Data Science\MachineLearning\Project\MachineLearningProject1\artifact\transformed_data_dir\2024-03-26-12-24-15\test\test_data_housing.npz')

array([[ 5.92294223e-01, -7.10658034e-01,  2.75635714e-02, ...,
         0.00000000e+00,  0.00000000e+00,  5.00001000e+05],
       [-4.21809589e-01, -3.50491190e-01, -3.70068519e-01, ...,
         0.00000000e+00,  0.00000000e+00,  1.62500000e+05],
       [ 5.62320712e-01, -6.49850644e-01,  5.84248498e-01, ...,
         0.00000000e+00,  0.00000000e+00,  2.04600000e+05],
       ...,
       [-7.21186193e-02, -5.60978306e-01,  1.14093342e+00, ...,
         0.00000000e+00,  0.00000000e+00,  2.93800000e+05],
       [ 8.32082317e-01, -9.39855116e-01,  1.07089989e-01, ...,
         0.00000000e+00,  0.00000000e+00,  3.35700000e+05],
       [ 5.07369274e-01, -6.77915593e-01,  5.84248498e-01, ...,
         0.00000000e+00,  0.00000000e+00,  2.15600000e+05]])